@{
    var totalCount = (int)ViewBag.TotalCount;
    var pageIndex = (int)ViewBag.PageIndex;
    var pageSize = (int)ViewBag.PageSize;
    var search = ViewBag.Search as string;

    var totalPages = (int)Math.Ceiling(totalCount / (double)pageSize);
}

@if (totalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (pageIndex > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(1, '@search')">Đầu</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(@(pageIndex - 1), '@search')">Trước</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Đầu</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Trước</span>
                </li>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                if (i == pageIndex)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="loadPage(@i, '@search')">@i</a>
                    </li>
                }
            }

            @if (pageIndex < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(@(pageIndex + 1), '@search')">Sau</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadPage(@totalPages, '@search')">Cuối</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">Sau</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Cuối</span>
                </li>
            }
        </ul>
    </nav>
}