@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-danger">🚫 Bạn không có quyền truy cập!</h1>
    <p class="lead mt-3">Tài khoản của bạn không được phép truy cập tính năng hoặc khu vực này.</p>


</div>