@model IEnumerable<QuanLyNhaHang_DATN.Models.DanhMuc>

<div class="table-responsive">
    <table id="danhMucTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Danh mục</th>
                <th>Mô tả</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
