@model IEnumerable<QuanLyNhaHang_DATN.Models.Ban>

<div class="table-responsive">
    <table id="banTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên bàn</th>
                <th>Khu vực</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
